.box1 {
    background: blue;
    width: 200px;
    height: 150px;
    padding: 10px;
    border: 2px solid black;
    margin: 10px;
  }

.box2 {
    background: red;
    width: 200px;
    height: 150px;
    padding: 20px;
    border: 12px solid grey;
    margin: 20px;
}

.box3 {
    background: green;
    width: 200px;
    height: 150px;
    padding: 30px;
    border: 22px solid yellow;
    margin: 30px;
}

.container {
    width: 200px;
    height: 150px;
    padding: 10px;
    border: 2px solid black;
    margin: 10px;
    background: grey;
    align-items: center;
  }


.item {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    background: black;
    margin-top: 12%;
    margin-left: 24%;
  }

.box4{
    background: brown;
    width: 200px;
    height: 150px;
    padding: 10px;
    border: 2px solid black;
    margin: 10px;
    float: left;
  }
